/* You can add global styles to this file, and also import other style files */
@import '~primeng/resources/primeng.min.css';
@import '~primeng/resources/themes/saga-blue/theme.css';
@import '~primeicons/primeicons.css';
@import  "~primeflex/primeflex.css";
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
    margin: 0;
    box-sizing: border-box;
    user-select: none;
    -webkit-user-select: none;
}

body {
    font-family: 'Poppins', sans-serif;
}

:root {
    --dark-0: #000;
    --mac-grey: #ddd;
    --light-0: #fff;
}
