.p-float-label{
    margin-bottom: 25px;
}
.form {
    margin-left: 15%;
}
.image{
    margin-top: 25px;
}

button{
    margin-left: 40%;
    background-color: rgba(38,115,101,255)
}

.container{
    margin-top: 100px;
}
.p-float-label{
    margin-top: 1.5rem;
}
.Welcome, .name{
    color:rgba(38,115,101,255)
}