.p-float-label{
    margin-bottom: 25px;
    width: 100% !important;
}
.form {
    margin-left: 15%;
}
.image{
    margin-top: 25px;
}

button{
    margin-left: 40%;
}
.container{
    margin-top: 100px;
}
.p-float-label{
    margin-top: 1.5rem;
}