.p-float-label{
    margin-bottom: 25px;
    width: 100% !important;
}
.form {
    margin-left: 15%;
}
.image{
    margin-top: 25px;
}
.name{
    /* margin-top: 100px; */
}
.button{
    margin-left: 40%;
}
.container{
    margin-top: 100px;
}
