
<div>
    <div class="grid">
        <div class="col-8"><h1>{{tripname}}</h1> </div>
                   
        <div class="col-sm-12 text-center line">
        <button class="col-md-12 text-center" pButton type="button" label="View Friends" class="p-button-success" icon = "pi pi-users" (click)="showDisplayFriend()" [ngStyle]="{'margin-right':'8px'}"></button>
        <button class="col-md-12 text-center" pButton type="button" label="Add a friend" class="p-button-success" icon="pi pi-user-plus" (click)="showAddFriend()" [ngStyle]="{'margin-right':'8px'}"></button>
          </div>
    
    </div>
    
    <div>
        <p-table [value]="metadata" [columns]="colsMetaData" styleClass="p-datatable-gridlines"
            responsiveLayout="scroll">

            <ng-template pTemplate="header" let-columns>
                <tr>
                    <th *ngFor="let col of columns">{{col.header}}</th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-rowData>
                <tr>
                    <td>{{rowData.startDate}}</td>
                    <td>{{endDate}}</td>
                    <td>{{rowData.days}}</td>
                    <td>{{rowData.destination}}</td>
                </tr>
            </ng-template>

        </p-table>
    </div>

    <div *ngFor="let in of dayData; let dayIdx = index">

        <div>
            <h2>Day {{dayIdx+1}}</h2>
        </div>

        <div>
            <p-table [columns]="cols" [value]="dayData[dayIdx][1]" responsiveLayout="scroll">
                <ng-template pTemplate="header" let-columns>
                    <tr>
                        <th *ngFor="let col of columns">
                            {{col.header}}
                        </th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-rowData let-columns="columns" let-colIdx="rowIndex">
                    <tr>

                        <td *ngFor="let col of columns;  ">
                            <input *ngIf="col.field == 'time' && updateBtnStatus[dayIdx][colIdx]; else notTime"
                                type="time" [(ngModel)]="dayData[dayIdx][1][colIdx][col.field]" />
                            <ng-template #notTime>
                                <input type="text" *ngIf="updateBtnStatus[dayIdx][colIdx]; else fixText" pInputText
                                    [(ngModel)]="dayData[dayIdx][1][colIdx][col.field]" />
                                <ng-template #fixText>{{rowData[col.field]}}</ng-template>
                            </ng-template>
                        </td>
                        <td class="day_ud_col">
                            <button *ngIf="updateBtnStatus[dayIdx][colIdx]; else disBtn" pButton
                                (click)="doneClicked(dayIdx, colIdx)" type="button" icon="pi pi-check" label=""
                                class="p-button-success"></button>
                            <ng-template #disBtn><button pButton type="button"
                                    (click)="updateBtnClicked(dayIdx, colIdx)" icon="pi pi-pencil" label=""
                                    class="p-button-warning"></button></ng-template>

                            <button pButton type="button" icon="pi pi-trash" (click)="deleteAct(dayIdx, colIdx)" label="" class="p-button-danger"></button>
                        </td>

                    </tr>
                </ng-template>
            </p-table>
        </div>

        <div class="col-12" style="text-align:center; margin-top: 10px;">
            
            <button pButton type="button" label="Add Activity" (click)="addActivity(dayIdx)" class="p-button-success" icon="pi pi-plus" iconPos="left"></button>
        </div>
    </div>

</div>


<p-dialog header="Take a friend along"  widgetVar="dlg2" [modal]="true" width="300" height="200" [(visible)]="addFriend" [style]="{width:'40%',position:'fixed'}" >
    <div class="p-field">
        <label class="label" for="username"></label>
        <p-dropdown
            appendTo="body"
            id="username"
            [options]="users"
            placeholder="Select a friend"
            [showClear]="true"
            [filter]="true" 
            filterBy="username"
            [(ngModel)]="selectedUser"
            optionLabel="username"
            autoWidth="false"
            (onChange)="onChange($event.value)"
            [style]="{'width':'100%', 'border-radius': '25px', 'background-color': 'rgba(0, 0, 0, 0.025)'}">
        </p-dropdown>
    </div>
</p-dialog>

<p-dialog header="Friends going along on {{tripname}}"  widgetVar="dlg2" [modal]="true" width="300" height="200" [(visible)]="displayFriend" [style]="{width:'40%',position:'fixed'}" >
    <p-table [value]="friends">
        <ng-template pTemplate="header">
            <tr>
                <th>Name</th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-friend>
            <tr>
                <td>{{friend}}</td>
            </tr>
        </ng-template> 
    </p-table>
    <button pButton type="button" (click) = "closeView()" label="Close"  class="p-button-success" icon="pi pi-times" [ngStyle]="{'margin-top':'2.5rem','margin-left':'40%'}" ></button>
</p-dialog>