<p-toast></p-toast>
<div class="container">
  <div class="row g-0">
    <div class="name">
      <h1>Itinerary App</h1>
    </div>
    <div class="image col-lg-6">
      <img 
        src="../../../assets/images/registration-background.jpg"
        class="img-fluid"
      >
    </div>
    <div class="col-lg-6">
      <div class="Welcome text-center">
        <h1>Sign up</h1>
        <p>Register to explore the world</p>
      </div>
      <form [formGroup]="registerForm" #userData="ngForm" (ngSubmit)="register()">
        <div class="form">

          <span class="p-float-label">
            <input id="name" type="text" size="60" formControlName="name" pInputText>
            <label for="name">Name</label>
          </span>

          <span class="p-float-label ">
            <input id="email" type="text" size="60" formControlName="email" pInputText>
            <label for="email">Email</label>
          </span>

          <span class="p-float-label">
            <input id="username" type="text" size="60" formControlName="username" pInputText>
            <label for="username">Username</label>
          </span>

          <span class="p-float-label ">
            <input id="password" type="password" size="60" formControlName="password" pInputText>
            <label for="password">Password</label>
            <div *ngIf="formControls['password'].touched && formControls['password'].invalid" class="alert alert-danger">
              Password must be 8 characters with at least 1 upper, 1 digit, 1 lower, and 1 special character.
              <div *ngIf="formControls['password'].errors && formControls['password'].errors['required']">
                Password is required
              </div>
            </div>
          </span>

          <span class="p-float-label ">
            <input id="cpassword" type="password" size="60" formControlName="cpassword" pInputText>
            <label for="cpassword">Confirm Password</label>
            <div *ngIf="formControls['cpassword'].touched && formControls['cpassword'].invalid" class="alert alert-danger">
              <div *ngIf="formControls['cpassword'].errors && formControls['cpassword'].errors['required']">
                Password is required
              </div>
              <div *ngIf="formControls['cpassword'].errors && formControls['cpassword'].errors['confirmedValidator']">
                Passwords do not match
              </div>
            </div>
          </span>

          <button pButton type="submit" label="Sign up" [disabled]="!registerForm.valid"></button>
        </div>
      </form>
    </div>
  </div>
</div>