<div id="icons-grid" class="grid icons-list">
    <div class="col-12 md:col-3">
        <i class="pi pi-facebook"></i>
        <div>
            Facebook
        </div>
    </div>
    <div class="col-12 md:col-3">
        <i class="pi pi-instagram"></i>
        <div>
            Instagram
        </div>
    </div>
    <div class="col-12 md:col-3">
        <i class="pi pi-whatsapp"></i>
        <div>
            WhatsApp
        </div>
    </div>
    <div class="col-12 md:col-3">
        <i class="pi pi-twitter"></i>
        <div>
            Twitter
        </div>
    </div>
</div>