<div id="icons-grid" class="grid icons-list">
    <div class="col-12 md:col-3">
        <a class="link" href="https://www.facebook.com/10pearls.pakistan/" target="_blank">
            <i class="pi pi-facebook"></i>
            <div>
                Facebook
            </div>
        </a>
    </div>
    <div class="col-12 md:col-3">
        <a class="link" href="https://www.instagram.com/10pearlspk/?hl=en" target="_blank">
            <i class="pi pi-instagram"></i>
            <div>
                Instagram
            </div>
        </a>
    </div>
    <div class="col-12 md:col-3">
        <a class="link" href="https://pk.linkedin.com/company/10pearls-pakistan" target="_blank">
            <i class="pi pi-linkedin"></i>
            <div>
                LinkedIn
            </div>
        </a>
    </div>
    <div class="col-12 md:col-3">
        <a class="link" href="https://twitter.com/10PearlsPK" target="_blank">
            <i class="pi pi-twitter"></i>
            <div>
                Twitter
            </div>
        </a>
    </div>
</div>