.boot-screen {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--dark-0);
    height: 100vh;
    
}

.boot-screen__logo {
    width: 5rem;
    margin-bottom: 2rem;
}
